body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 51, 43);
}

.row {
    display: flex;
}

#displayContent {
    color: rgb(177, 170, 102);
    font-weight: 700;
    font-size: 4.5vw;
    margin: 2vw;
}

#display {
    display: flex;
    justify-content: center;
    min-width: 50vw;
    min-height: 5vw;
    margin: 2vw;
    border: .72vw solid rgb(177, 170, 102);
    border-radius: 1.2vw;
    background-color: rgb(51, 51, 40);
}

#rowClear {
    display: flex;
    justify-content: center;
}
#buttonClear {
    min-width: 30vw;
    margin-left: 2.5vw;
}

#headingTitle {
    font-size: 7vw;
    color: rgb(177, 170, 102);
    margin-bottom: 2vw;
    margin-top: 3.5vw
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.button {
    font-weight: 700;
    font-size: larger;
    min-width: 9vw;
    min-height: 5.5vw;
    margin: 2vw;
    border-radius: 1.2vw;
    border:.4vw solid rgb(177, 170, 102);
    background-color: rgb(51, 51, 40);
    color: rgb(177, 170, 102);   
}